*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    background: rgb(25,45,59);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: url('./clock-1.png') no-repeat center center/cover;
    /* adding multiple shadows */
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),/* will set the first bg-shadow and will move shadow -15px up from top*/
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),/*will set the first in-shadow and will move shadow -15px up from bottom*/
                 0 15px 15px rgba(0, 0, 0, 0.3),/*will set the first bg-shadow and will move shadow 15px bottom*/
                inset 0 15px 15px rgba(0, 0, 0, 0.3);/*will set the first in-shadow and will move shadow 15px up*/
    
    position: relative;

}
.clock:before{
    content: '';
    background: white;
    width: 10px;
    height: 10px;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.hour,.minute,.second{
    position: absolute;
    border-radius:  25px 25px 5px 5px;
    transition: all 0.05s;
    
}
.hour{
    left: 48.9%;
    top:28%;
    width: 10px;
    height: 100px;
    z-index: 10;        
    transform: rotate(0deg)  ;
    transform-origin: 50% 89%;
    background: red;
}
.minute{
    /* display: none; */
    top: 20%;
    left: 49.4%;
    width: 6px;
    height: 135px;
    z-index: 12;
    /* transform: rotate(0deg); */
    transform-origin: 50% 88%;
    background: rgba(230,126,34 ,1);
    
}
.second{
    /* display: none; */
    top: 15%;
    left: 49.8%;
    width: 2px;
    height: 165px;
    transform: rotate(0deg);
    transform-origin: 50% 85%;
    transition-timing-function: cubic-bezier(0, 1.32, 0.58, 1);
    z-index: 14;
    background: rgba(236,240,241 ,1);  
}